logs/*
!.gitkeep
node_modules/
tmp
.DS_Store
.idea
CAS
CAS.pub
public/dist/bundle.js
webpack.config.js

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
.dockerignore
*.env
files/*
*.sh